In [2]:
import numpy as np
import pandas as pd

In [ ]:
#Abbiamo una lista di liste: mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]] Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

In [ ]:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
data_frame=pd.DataFrame(mat)
data_frame[0][2]

10

In [ ]:
#Esercizio Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial() e la variabile .pi la riconoscete?

In [ ]:
import math

print(math.sin(math.pi/2))
print(math.cos(0))
print(math.factorial(5))
print(math.pi)

1.0
1.0
120
3.141592653589793

In [ ]:
#Esercizio Proviamo a eseguire math.degrees(math.pi) Qual è e cosa significa il risultato? Per saperne di più su questa funzione possiamo usare help(math.degrees)

In [ ]:
print(math.degrees(math.pi))
help(math.degrees)

180.0
Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [ ]:
#Esercizio L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] trasformiamola in un array NumPy (casting): lst = np.array(lst) e rispondiamo alle domande del CEO della Object SpA: • qual è stata la vendita massima mensile? E quella minima? • quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? • quali sono le vendite minori di 3000 oggetti? 5 • in media quanti oggetti sono stati venduti al mese?

In [10]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)
max_mensile = lst.max()
min_mensile= lst.min()
lst_maggioridi4999=lst[lst>4999]
maggioridi4999=len(lst_maggioridi4999)
lst_minoridi3000=lst[lst<3000]
minoridi3000=len(lst_minoridi3000)
media_mensile=lst.mean()
print(f"la vendita massima mensile è {max_mensile} mentre quella minima è {min_mensile}")
print(f"le vendite maggiori di 4999 sono {maggioridi4999}, mentre le vendite minori di 3000 sono {minoridi3000}")
print(f"in media sono stati venduti {media_mensile} oggetti al mese")

la vendita massima mensile è 8150 mentre quella minima è 1280
le vendite maggiori di 4999 sono 6, mentre le vendite minori di 3000 sono 4
in media sono stati venduti 4634.166666666667 oggetti al mese

In [ ]:
#Esercizio Consideriamo il seguente dizionario: fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} Consideriamo ora la seguente Series: fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005)) Possiamo accedere alle stesse informazioni nello stesso modo: fatturati_dict[1997] fatturati_series[1997] Dunque qual è la differenza tra i due tipi di dato? Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

In [15]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))
print(fatturati_dict[1997])
print(fatturati_series[1997])
#la series al contrario del dizionario ci da la possibilità di ottenere ulteriori informazioni in modo veloce. per esempio:
media_fatturato = fatturati_series.mean()
print("Media fatturato:", media_fatturato)

12000
12000
Media fatturato: 18375.0

In [ ]:
#Esercizio L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: import numpy as np stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: • con un ciclo for 7 • con il masking

In [18]:
#risoluzione con ciclo for:
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )
stipendi_doppi=[]
for stipendio in stipendi:
    stipendio_doppio=stipendio*2
    stipendi_doppi.append(stipendio_doppio)
print(stipendi_doppi)

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [19]:
#risoluzione con il masking:
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )
stipendi_doppi=stipendi*2
print(stipendi_doppi)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]